@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  margin: 0 auto;
  max-width: 360px;
  row-gap: 120px;
}
@media only screen and (min-width: 992px) {
  .container {
    min-width: 100%;
  }
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.5;
}

h1, h2, h3 {
  color: hsl(210deg, 10%, 33%);
}

h3 {
  font-size: 1.5rem;
}

p {
  color: rgba(159, 171, 178, 0.7);
}

.cta__title--lower {
  padding: 0 25px;
}

.cta__text {
  margin: 15px 0;
  padding: 0 15px;
}
@media only screen and (min-width: 992px) {
  .cta__text {
    margin: 0;
    width: 70%;
  }
}

.separator {
  padding: 0 10px;
}
@media only screen and (min-width: 992px) {
  .separator {
    width: 50%;
  }
}
.separator__title {
  margin-bottom: 20px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  row-gap: 15px;
  padding: 0 5px;
}
@media only screen and (min-width: 992px) {
  .cta {
    row-gap: 5px;
  }
}
.cta__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  margin-top: 20px;
  row-gap: 20px;
  align-self: stretch;
  padding: 0 10px;
}
@media only screen and (min-width: 992px) {
  .cta__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    column-gap: 20px;
  }
}

.btn {
  color: white;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1rem;
  align-self: stretch;
  cursor: pointer;
  transition: all 0.2s;
}
@media only screen and (min-width: 992px) {
  .btn {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}
.btn:hover, .btn:focus {
  opacity: 0.7;
}
.btn--green {
  background-color: hsl(171deg, 66%, 44%);
  box-shadow: 0 3px 1px 1px #24ae99;
}
.btn--blue {
  background-color: hsl(233deg, 100%, 69%);
  box-shadow: 0 3px 1px 1px #5266ff;
}

.hero-img--mac, .hero-img--devices {
  object-fit: cover;
  max-width: 330px;
  min-height: 100%;
  margin-bottom: 40px;
}
@media only screen and (min-width: 992px) {
  .hero-img--mac, .hero-img--devices {
    max-width: 90%;
  }
}
.hero-img--mac {
  position: relative;
  left: -50px;
}

.snippets-section,
.snippets-container,
.snippet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

@media only screen and (min-width: 992px) {
  .snippets-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
  }
  .snippet {
    width: 70%;
    text-align: left;
    align-self: flex-start;
  }
  .snippet > h3 {
    align-self: flex-start;
  }
}
.snippets-container {
  row-gap: 40px;
}

.snippet {
  row-gap: 10px;
  padding: 0 17px;
}

.feature-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  row-gap: 40px;
}
@media only screen and (min-width: 992px) {
  .feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    padding: 0 80px;
  }
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  row-gap: 20px;
  padding: 0 10px;
}
@media only screen and (min-width: 992px) {
  .feature {
    width: 80%;
  }
}
.feature__img {
  margin-bottom: 10px;
}

.client-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  row-gap: 90px;
}
@media only screen and (min-width: 992px) {
  .client-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    gap: 0 100px;
  }
}

.client-img {
  object-fit: cover;
  min-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background-image: url(../images/bg-header-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  row-gap: 10px;
  padding: 5px;
  padding-top: 30px;
}
@media only screen and (min-width: 992px) {
  .header {
    background-image: url(../images/bg-header-desktop.png);
    min-width: inherit;
  }
}
.header__logo {
  max-width: 6rem;
  min-height: 6rem;
  object-fit: cover;
  margin-bottom: 20px;
}
.header__title {
  font-size: 2rem;
  padding: 10px;
}

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  min-width: 100%;
  background-color: whitesmoke;
  row-gap: 30px;
  padding: 50px;
}
@media only screen and (min-width: 992px) {
  .site-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}
.site-footer__logo {
  object-fit: cover;
  max-width: 70px;
}
.site-footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.site-footer__social-icon {
  cursor: pointer;
  transition: all 0.2s;
}
.site-footer__social-icon:hover, .site-footer__social-icon:focus {
  filter: opacity(0.5) drop-shadow(0 0 0 hsl(171deg, 66%, 44%));
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  row-gap: 25px;
  margin: 20px 0;
}
@media only screen and (min-width: 992px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 35%;
    gap: 0 25px;
  }
  .nav > *:first-child {
    order: 1;
  }
  .nav > *:nth-child(2) {
    order: 4;
  }
  .nav > *:nth-child(3) {
    order: 2;
    margin-left: 60px;
  }
  .nav > *:nth-child(4) {
    order: 5;
  }
  .nav > *:last-child {
    order: 3;
  }
}
.nav__item {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.5;
  transition: all 0.2s;
}
@media only screen and (min-width: 992px) {
  .nav__item {
    margin: 10px;
  }
}
.nav__item:hover, .nav__item:focus {
  color: hsl(171deg, 66%, 44%);
}

/*# sourceMappingURL=style.css.map */
