@use "../abstracts/var";
@use "../abstracts/mix";

.btn {
    color: white;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1rem;
    align-self: stretch;
    cursor: pointer;
    @include mix.defaultTransition;

    @include mix.respond(laptop) {
        padding: 10px 20px;
        font-size: .8rem;
    }

    &:hover,
    &:focus {
        opacity: .7;
    }

    &--green {
        background-color: var.$theme-primary;
        box-shadow: 0 3px 1px 1px darken(var.$theme-primary, 3%);
    }
    
    &--blue {
        background-color: var.$theme-secondary;
        box-shadow: 0 3px 1px 1px darken(var.$theme-secondary, 3%);
    }
}