@use "../abstracts/mix";

.hero-img {

    &--mac,
    &--devices {
        object-fit: cover;
        max-width: 330px;
        min-height: 100%;
        margin-bottom: 40px;

        @include mix.respond(laptop) {
            max-width: 90%;
        }
    }

    &--mac {
        position: relative;
        left: -50px;

    }
}