@use "../abstracts/mix";

.snippets-section,
.snippets-container,
.snippet {
    @include mix.flexCenterColumn;
}

@include mix.respond(laptop) {
    .snippets-section {
        @include mix.flexCenter;
        flex-flow: row nowrap;
    }

    .snippet {
        width: 70%;
        text-align: left;
        align-self: flex-start;

        & > h3 {
            align-self: flex-start;
        }
    }
}

.snippets-container {
    row-gap: 40px;
}

.snippet {
    row-gap: 10px;
    padding: 0 17px;
}
