//COLORS
$color-white: #FFF;

$color-gray-light: hsl(212, 45%, 89%);
$color-gray-blue: hsl(220, 15%, 55%);
$color-dark-blue: hsl(218, 44%, 22%);

//FONTS
$font-size-xxs: 0.625rem; //10px
$font-size-xs: 0.75rem; //12px
$font-size-sm: 0.875rem; //14px
$font-size-md: 1rem; //16px
$font-size-lg: 1.125rem; //18px
$font-size-xl: 1.25rem; //20px
$font-size-xxl: 1.5rem; //24px
$font-size-3xl: 2.652rem;  //42px
$font-size-4xl: 4rem; //64px

$bp-mobile: 23.44em;
$bp-desktop: 90em;
