@use "../sass/abstracts/var";
@use "../sass/abstracts/mix";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 0.8125rem;
    background-color: var.$color-gray-light;
}

.container {
    @include mix.flexCenterColumn;
    @include mix.respBox;
    row-gap: 20px;

    & > * {
        &:first-child,
        &:nth-child(2) {
            color: var.$color-gray-light;
        }

        &:nth-child(2),
        &:nth-child(3)
        &:last-child {
            & > .card__top > .card__img {
                border: none;
            }
        }

        &:nth-child(2) {
            background-color: var.$theme-blue-gray-dark;
        }

        &:nth-child(3),
        &:last-child {
            color: var.$theme-blue-gray-dark;
            background-color: var.$color-white;
        }

        &:nth-child(4) {
            color: var.$color-gray-light;
            background-color: var.$theme-blue-black-dark;

            & > .card__top > .card__img {
                border-color: var.$theme-violet;
            }
        }
    }
}

.card {
    @include mix.flexCenterColumn;
    max-width: 350px;
    border-radius: 10px;
    padding: 35px;
    padding-top: 20px;
    row-gap: 15px;
    overflow: hidden;

    &--main {
        background-color: var.$theme-violet;
        position: relative;

        &::before {
            content: '\201C';
            display: inline;
            font-family: sans-serif;
            font-size: 400px;
            position: absolute;
            top: -75px;
            right: 10px;
            opacity: 0.35;
        }
    }

    &__top {
        align-self: flex-start;
        @include mix.flexCenter;
        justify-content: flex-start;
        column-gap: 10px;
    }

    &__img {
        max-width: 24%;
        object-fit: cover;
        border: 2px solid rgba(var.$color-gray-light, 0.4);
        border-radius: 50%;
    }

    &__text-container {
        @include mix.flexCenterColumn;
        align-items: flex-start;
        row-gap: 5px;
    }

    &__name {
        font-size: 14px;
    }

    &__verified {
        opacity: 0.5;
        font-size: 12px;
    }

    &__bottom {
        @include mix.flexCenterColumn;
        row-gap: 20px;
    }

    &__heading {
        font-size: 21px;
        font-weight: 500;
    }

    &__description {
        font-size: 14px;
        font-weight: 200;
        opacity: 0.7;
        line-height: 1.4;
    }
}