@use "../abstracts/_mix";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    @include mix.flexCenterColumn;
    @include mix.respBox;
}