@use "../abstracts/_var";

.u {
    &-ctr-text { text-align: center !important; }
    
    &-mt {
        &-sm { margin-top: var.$m-sm !important; }
        &-md { margin-top: var.$m-md !important; }
        &-lg { margin-top: var.$m-lg !important; }
        &-xl { margin-top: var.$m-xl !important; }
    }

    &-mb {
        &-sm { margin-bottom: var.$m-sm !important; }
        &-md { margin-bottom: var.$m-md !important; }
        &-lg { margin-bottom: var.$m-lg !important; }
        &-xl { margin-bottom: var.$m-xl !important; }
    }
}