@use "../scss/abstracts/var";
@use "../scss/abstracts/mix";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var.$color-gray-light;
    position: relative;
    min-width: max-content;

    @include mix.respond(desktop) {
        min-width: 100vw;
    }
}

.container {
   @include mix.flexCenterColumn;
   padding: 20px;
   min-width: max-content;
   min-height: 100vh;
}

.card {
    border: 1px solid #ddd;
    border-radius: 15px;
    @include mix.flexCenterColumn;
    background-color: var.$color-white;
    @include mix.boxShadowBlack(25px, 25px, .05);
    padding: 20px;

    &__top {
        width: 290px;
    }

    &__img {
        width: inherit;
        object-fit: cover;
        border-radius: 15px;
    }

    &__bottom {
        @include mix.flexCenterColumn;
        width: 300px;
        text-align: center;
        padding: 20px;
    }

    &__heading {
        font-size: var.$font-size-xl;
        font-weight: 700;
    }

    &__text {
        margin-top: 10px;
        font-size: 0.9375rem;
        font-weight: 400;
        color: var.$color-gray-light;
    }
}

.attribution {
    @include mix.flexCenter;
    flex-flow: row wrap;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%); 
    font-size: var.$font-size-xs;

    &__profile {
        margin-left: 3px;
    }

    & span {
        @include mix.respond(mobile) {
            display: table;
        }
    }

    & a {
        display: inline-block;
        margin-left: 1px;
        color: hsl(228, 45%, 44%);
    }
}
