@use "../sass/abstracts/var";
@use "../sass/abstracts/mix";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    @include mix.fullBox;
    font-family: 'Outfit', sans-serif;
    background-color: var.$theme-main-bg;
    transition: all .2s; 
    padding: 50px 0;  
}

.container {
    @include mix.respBoxY;
    @include mix.flexCenter;
}

.card {
    background-color: var.$theme-card-bg;
    width: 320px;
    height: 570px;
    border: none;
    border-radius: 10px;

    @include mix.respond(land-mobile) {
        width: 350px;
        height: 630px;
    }

    &__top {
        width: var.$full;
        padding: 25px;
        position: relative;
        overflow: hidden;

        &-img {
            @include mix.box(270px);
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            transition: all .2s;
            overflow: hidden;

            @include mix.respond(land-mobile) {
                @include mix.box(300px);
            }
        }

        &:active &-img {
            opacity: 0.9;
        }

        &:active &-overlay {
            @include mix.show;
        }

        &-overlay {
            @include mix.absCenter;
            @include mix.box(270px);
            border-radius: 10px;
            padding: 25px;
            background-color: rgba(var.$theme-secondary, 0.7);
            cursor: pointer;
            @include mix.defaultTransition;
            @include mix.hide;

            @include mix.respond(land-mobile) {
                @include mix.box(300px);
            }

            &-img {
                @include mix.absCenter;
            }
        }
    }

    &__bottom {
        @include mix.flexCenterColumn;
        align-items: flex-start;
        padding: 0 10px 0 30px; //TRBL

        & > * {
            margin: 7px 0;
        }
    }

    &__title {
        color: var.$color-white;
        font-weight: 700;
        font-size: 1.3rem;
        letter-spacing: 1.1px;
        cursor: pointer;

        &:active {
            color: var.$theme-secondary;
        }
    }

    &__description {
        color: var.$theme-primary;
        font-size: .9rem;
        font-weight: 100;
        line-height: 1.7;

        @include mix.respond(land-mobile) {
            font-size: var.$font-size-lg;
        }
    }

    &__details {
        @include mix.flexCenter;
        column-gap: 80px;

        @include mix.respond(land-mobile) {
            column-gap: 70px;
        }

        &-eth {
            &-icon {
                position: relative;  
                top: 3px;
                margin-right: 2px;

                @include mix.respond(land-mobile) {
                    @include mix.box(1.2rem);
                }
            }

            &-amount {
                color: var.$theme-secondary;
                font-weight: 600;

                @include mix.respond(land-mobile) {
                    font-size: 1.2rem;
                }
            }
        }
        
        &-timer {
            &-icon {
                position: relative;  
                top: 3px;
                margin-right: 2px;

                @include mix.respond(land-mobile) {
                    @include mix.box(1.2rem);
                }
            }

            &-time {
                color: var.$theme-primary;

                @include mix.respond(land-mobile) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    &__user {
        border-top: .1px solid var.$theme-primary;
        margin: 20px auto;
        @include mix.flexCenter;

        @include mix.respond(land-mobile) {
            width: 95%;
            font-size: 1.1rem;
        }

        &-name {
            color: var.$theme-primary;
            margin: 20px auto;
            position: relative;
            top: 10px;
            right: 10px;

            @include mix.respond(land-mobile) {
                right: 5px;
            }

            & span {
                color: var.$color-white;
                cursor: pointer;

                &:active {
                    color: var.$theme-secondary;
                }
            }
        }

        &-img {
            @include mix.box(14%);
            object-fit: cover;
            border: 2px solid var.$color-white;
            border-radius: 50%;
            position: relative;
            top: 20px;
            right: 0;
        }
    }
}