@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Outfit", sans-serif;
  background-color: hsl(217deg, 54%, 11%);
  transition: all 0.2s;
  padding: 50px 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.card {
  background-color: hsl(216deg, 50%, 16%);
  width: 320px;
  height: 570px;
  border: none;
  border-radius: 10px;
}
@media only screen and (min-width: 31.25em) {
  .card {
    width: 350px;
    height: 630px;
  }
}
.card__top {
  width: 100%;
  padding: 25px;
  position: relative;
  overflow: hidden;
}
.card__top-img {
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
}
@media only screen and (min-width: 31.25em) {
  .card__top-img {
    width: 300px;
    height: 300px;
  }
}
.card__top:active .card__top-img {
  opacity: 0.9;
}
.card__top:active .card__top-overlay {
  visibility: visible;
  opacity: 1;
}
.card__top-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 270px;
  height: 270px;
  border-radius: 10px;
  padding: 25px;
  background-color: rgba(0, 255, 247, 0.7);
  cursor: pointer;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
}
@media only screen and (min-width: 31.25em) {
  .card__top-overlay {
    width: 300px;
    height: 300px;
  }
}
.card__top-overlay-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__bottom {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 0 10px 0 30px;
}
.card__bottom > * {
  margin: 7px 0;
}
.card__title {
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 1.1px;
  cursor: pointer;
}
.card__title:active {
  color: hsl(178deg, 100%, 50%);
}
.card__description {
  color: hsl(215deg, 51%, 70%);
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.7;
}
@media only screen and (min-width: 31.25em) {
  .card__description {
    font-size: 1.125rem;
  }
}
.card__details {
  display: flex;
  align-content: center;
  justify-content: center;
  column-gap: 80px;
}
@media only screen and (min-width: 31.25em) {
  .card__details {
    column-gap: 70px;
  }
}
.card__details-eth-icon {
  position: relative;
  top: 3px;
  margin-right: 2px;
}
@media only screen and (min-width: 31.25em) {
  .card__details-eth-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
.card__details-eth-amount {
  color: hsl(178deg, 100%, 50%);
  font-weight: 600;
}
@media only screen and (min-width: 31.25em) {
  .card__details-eth-amount {
    font-size: 1.2rem;
  }
}
.card__details-timer-icon {
  position: relative;
  top: 3px;
  margin-right: 2px;
}
@media only screen and (min-width: 31.25em) {
  .card__details-timer-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
.card__details-timer-time {
  color: hsl(215deg, 51%, 70%);
}
@media only screen and (min-width: 31.25em) {
  .card__details-timer-time {
    font-size: 1.2rem;
  }
}
.card__user {
  border-top: 0.1px solid hsl(215deg, 51%, 70%);
  margin: 20px auto;
  display: flex;
  align-content: center;
  justify-content: center;
}
@media only screen and (min-width: 31.25em) {
  .card__user {
    width: 95%;
    font-size: 1.1rem;
  }
}
.card__user-name {
  color: hsl(215deg, 51%, 70%);
  margin: 20px auto;
  position: relative;
  top: 10px;
  right: 10px;
}
@media only screen and (min-width: 31.25em) {
  .card__user-name {
    right: 5px;
  }
}
.card__user-name span {
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.card__user-name span:active {
  color: hsl(178deg, 100%, 50%);
}
.card__user-img {
  width: 14%;
  height: 14%;
  object-fit: cover;
  border: 2px solid hsl(0deg, 0%, 100%);
  border-radius: 50%;
  position: relative;
  top: 20px;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
